html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

#sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px; }
  #sidebar .my-photo {
    display: block;
    border-radius: 50%;
    width: 128px;
    border: 8px solid #343A40;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: 170px;
    width: 170px; }
  #sidebar a {
    color: #fff; }
  #sidebar .box {
    text-align: center;
    padding: 16px 0px 16px 0px;
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-basis: auto; }

.page-content {
  margin-left: 240px; }

#nav {
  overflow: hidden;
  background-color: #111418; }

#home-section {
  background: url("../img/bu.jpeg") no-repeat;
  min-height: 1305px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1305px; }

#what-i-do {
  background-color: #f8f9fa; }
  #what-i-do .icn {
    color: #1FC997;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 9px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 2px; }

#resume-section .badge-color {
  background: #1FC997; }

#resume-section .progress {
  height: 7px; }

#resume-section .progress-bar {
  width: 50%;
  background: #1FC997; }

#my-work #all-works:hover h4 {
  color: #1FC997; }

#client-speak .img-fluid {
  border-radius: 50%;
  width: 100px;
  overflow: hidden;
  position: unset;
  margin-top: -30px;
  display: inline-block; }

#client-speak .card-form {
  background-color: #f8f9fa; }

#client-speak .rating {
  margin: 0px 0px 20px 25px; }

#client-speak .checked {
  color: orange; }

#get-in-touch-section .icn {
  color: #1FC997; }

#get-in-touch-section .box {
  width: 300px;
  height: 25px; }

#get-in-touch-section .linkedin {
  margin-left: 17px; }

#get-in-touch-section .github {
  margin: 0px 15px 0px 15px; }

#get-in-touch-section .form-name {
  width: 350px;
  margin-right: 25px; }

#get-in-touch-section .form-email {
  width: 350px; }

#get-in-touch-section .form-yourself {
  width: 725px;
  height: 110px; }

@media (max-width: 1200px) {
  #get-in-touch-section .form-yourself {
    width: 350px;
    height: 110px; } }

@media (min-width: 992px) {
  #nav {
    display: none;
    background: #111418; }
  .home-inner {
    padding: 420px 0px 0px 170px; } }

@media (max-width: 992px) {
  #sidebar {
    display: none; }
  .page-content {
    margin-left: 0px; }
  .home-inner {
    padding: 420px 0px 0px 30px; } }
